/* 🧭 Positionnement dans l'entête */
.entete-app {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.boutons-entete {
  display: flex;
  gap: 10px;
}


/* ------------------------------